body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  color: #333;
}

.alls {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.all {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
}

.all:hover {
  transform: translateY(-5px);
}

.anganba {
  font-size: 1.25rem;
  color: #555;
}

.anganbaP {
  color: #777;
  font-size: 1rem;
}

.img {
  border-radius: 8px;
  margin-top: 10px;
  width: 100%;
  max-width: 150px;
  height: auto;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 20px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background-color: #0056b3;
}
.search-bar{
  height:25px;
  border-radius: 9px;
}
